@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@font-face {
    font-family: 'Mabry-Pro';
    src: url(./Assets/Fonts/MabryPro-Black.ttf);
}

body, html {
    height: 100vh;
    width: 100%;
    margin: 0;
}

p, li, span {
    font-family: 'Inter', sans-serif;
}